<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.binaryitplanet.tradinget">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Features.View.Ledger.AddSellerLedger"></activity>
        <activity android:name=".Features.View.Invoice.InvoiceSettingsEdit" />
        <activity
            android:name=".Features.View.Ledger.Transaction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Ledger.ViewLedger"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Ledger.AddLedger"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Inventory.AddPacketDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Inventory.ViewPacket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Invoice.CreateInvoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Seller.ViewSeller"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Buyer.ViewBuyer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Broker.ViewBroker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Inventory.AddPacket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Seller.AddSeller"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Broker.AddBroker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.Buyer.AddBuyer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Features.View.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Features.View.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>